@mixin box-shadow($color) {
  box-shadow: 0 2px 6px $color;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin structure {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  gap: 1.25rem;
  font-size: $t2;
  border-radius: 0.3525rem;
  box-shadow: 0 5px 6px $shadow-color;
  color: $secondary-color;
  background: $primary-color;
}

@mixin div-image-format {
  width: 2.9rem;
  height: 2.9rem;
  border-radius: 100%;
}

@mixin subtitle-format {
  font-weight: bold ;
  color: $secondary-color;
  font-size: $t2; 
}


@mixin design-developer{
  background-color: rgb(255, 227, 229);
  color:rgb(252, 106, 108) ;
}


@mixin design-support{
  background-color:rgb(232, 230, 252) ;
  color:rgb(146, 136, 242) ;
}

@mixin design-designer{
  background-color:rgb(215, 244, 247) ;
  color:rgb(82, 208, 222) ;
}

@mixin design-marketing{
  background-color:rgb(235, 236, 237) ;
  color: rgb(152, 155, 166);
}


@mixin button-team-style() {
  cursor: pointer;
  @include flex-center;
  width: auto;
  padding: 0.525rem;
  height: 30px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  background: $purple-color; // Estilo por defecto
}

@mixin t1{
  font-size: $t1;
  color: $secondary-color;
  font-weight: 500;
}