$primary-color: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$secondary-color:rgb(80, 78, 90);
$shadow-color: rgb(162, 160, 168);
$shadow-button-color: rgb(232, 230, 252);
$purple-color: rgb(114, 103, 240);
$general-gap: 1.25rem; 
$t1: 1.1125rem; 
$t2: .850rem;
$t3: .76rem; 
$icon-size: 20px;


